%ul.breadcrumb
  %li
  - directory_menu_items(@dir.fullname)[0..-2].each do |item|
    %li
      = link_to item[:name], directory_path(item[:path])
      %span.divider= "/"
  - last = directory_menu_items(@dir.fullname).last
  %li
    %strong= last[:name]

= will_paginate @nodes, :previous_label => h("<"), :next_label => h(">"), :renderer => BootstrapLinkRenderer

%table
  %tr
    %th Name
  - @nodes.each do |node|
    - present node do |node_presenter|
      %tr
        %td= node_presenter.handle
        %td
          %i.icon-folder-close
          = link_to node.name, directory_path(node.fullname.slice(1..-1))
          = link_to icon("edit"), edit_dir_path(node)
        -#= link_to_folder(dir)
= link_button "Neues Verzeichnis", new_dir_path(:dir => @dir)
= link_button "Neue Datei hinzufügen", new_bin_path(:dir => @dir)
