%h1 Benutzer

= will_paginate @users, :previous_label => h("<"), :next_label => h(">"), :renderer => BootstrapLinkRenderer

%table
  %tr
    %th Email
    %th aktiviert
    %th löschen
  - @users.each do |user|
    - present user do |user_presenter|
      %tr
        %td= user_presenter.email
        %th= user_presenter.approved_label
        %td= link_button "löschen", user, :method => :delete

= link_button "Neuer User", new_user_path

