!!!
%html
  %head
    %title Filemanager
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{ :name => "viewport",  :content => "width=device-width, initial-scale=1.0"}/
  %body
    .container
      .row
        .span3
          %h2 Navigation
          %ul.nav.nav-list
            %li.nav-header Ich
            %li{:class => nav_class(root_path)}= nav_link("Home", root_path)
            %li{:class => nav_class(about_path)}= nav_link("Darüber", about_path)
            %li Devisekram
            %li.nav-header Dateisystem
            %li.nav-header Nach Dateityp
            %li.nav-header Favoriten
            %li.nav-header Nach Tags
        .span9
          .notice= notice
          .alert= alert
          = yield

    = debug(params)
