!!!
%html
  %head
    %title Filemanager
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .row
        .span3
          %h2 Navigation
        .span9
          .notice= notice
          .alert= alert
          = yield
